dist
_skbuild
*.egg-info

.vscode
wheel_linux.sh
proba.py
proba.sh

dockers
docker.sh

a.out
compile.sh
slicesampling.cpp

.ipynb_checkpoints

examples/paper/Data/Synthetic/*
examples/paper/.ipynb_checkpoints
examples/paper/__pycache__

src/*/*/__pycache__
upload.sh
